
# Eclipse
.classpath
.project
.settings/

# Intellij
.idea/
*.iml
*.iws

# Mac
.DS_Store

# Maven
log/
target/

#Project
src/com/trivinosanchez/framework/drivers
src/com/trivinosanchez/main/resources/iOSConfig.properties

